[[headers]]
  for = "/assets/*"
  [headers.values]
    Cache-Control = "public, max-age=31536000, immutable"

[[headers]]
  for = "/*.webp"
  [headers.values]
    Cache-Control = "public, max-age=604800"

[[headers]]
  for = "/*.png"
  [headers.values]
    Cache-Control = "public, max-age=604800"

[[headers]]
  for = "/*.jpg"
  [headers.values]
    Cache-Control = "public, max-age=604800"

[[headers]]
  for = "/*.jpeg"
  [headers.values]
    Cache-Control = "public, max-age=604800"

[[headers]]
  for = "/*.svg"
  [headers.values]
    Cache-Control = "public, max-age=604800"

[[headers]]
  for = "/*.html"
  [headers.values]
    Cache-Control = "public, max-age=0, must-revalidate"

[[redirects]]
  from = "/migrate"
  to = "/migrate/"
  status = 301
  force = true
  conditions = { Host = ["ha-remote-designer.netlify.app"] }

[[redirects]]
  from = "/migrate/*"
  to = "/migrate/:splat"
  status = 200
  force = true
  conditions = { Host = ["ha-remote-designer.netlify.app"] }

[[redirects]]
  from = "/*"
  to = "https://clearcontrol.de/:splat?from=legacy"
  status = 301
  force = true
  conditions = { Host = ["ha-remote-designer.netlify.app"] }

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
