[[headers]]
  for = "/assets/*"
  [headers.values]
    Cache-Control = "public, max-age=31536000, immutable"

[[headers]]
  for = "/*.webp"
  [headers.values]
    Cache-Control = "public, max-age=604800"

[[headers]]
  for = "/*.png"
  [headers.values]
    Cache-Control = "public, max-age=604800"

[[headers]]
  for = "/*.jpg"
  [headers.values]
    Cache-Control = "public, max-age=604800"

[[headers]]
  for = "/*.jpeg"
  [headers.values]
    Cache-Control = "public, max-age=604800"

[[headers]]
  for = "/*.svg"
  [headers.values]
    Cache-Control = "public, max-age=604800"

[[headers]]
  for = "/*.html"
  [headers.values]
    Cache-Control = "public, max-age=0, must-revalidate"

[[redirects]]
  from = "https://ha-remote-designer.netlify.app/migrate"
  to = "/migrate/index.html"
  force = true
  status = 200

[[redirects]]
  from = "https://ha-remote-designer.netlify.app/migrate/"
  to = "/migrate/index.html"
  status = 200
  force = true

[[redirects]]
  from = "https://ha-remote-designer.netlify.app/migrate/*"
  to = "/migrate/:splat"
  status = 200
  force = true

[[redirects]]
  from = "https://ha-remote-designer.netlify.app/*"
  to = "https://clearcontrol.de/:splat?from=legacy"
  status = 301
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
